rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /sites/{site} {
      // Allow read to anyone
      allow read: if true;

      // Allow write only if the user is authenticated and their uid matches the 'owner' field in the document
      allow write: if request.auth != null && request.auth.uid == resource.data.owner;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}